*~
*.bak

Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

# Meson
/build
/_build

# vscode
.vscode/

# qtcreator
.qtc_clangd/

# vs code
.devcontainer

# temp files 
.ipynb_checkpoints
__pycache__

# subprojects
subprojects/packagecache
subprojects/pybind11-2.10.3
