*~
*.bak

Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

# Meson
/build
/_build
/subprojects

# vscode
.vscode/

# qtcreator
.qtc_clangd/

# dynamic limits cmake
/docs/cpp-dynamic-ranges-prototype/build/
/docs/notebooks/
