Source: gst-plugin-pylon
Section: unknown
Priority: optional
Maintainer: Patrick Thomas <pthomas@caltech.edu>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/gst-plugin-pylon
#Vcs-Git: https://salsa.debian.org/debian/gst-plugin-pylon.git
Rules-Requires-Root: no

Package: gst-plugin-pylon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
